.btn{
  margin: 10px 50px 10px 0px;
}

.card-title {
  text-align: center;
}

.custom-checkbox {
  
}

img {
  width:200px;
}

.img_container {
  height: 200px;
}

.result_container {
  margin-top: 50px;
}