.btn{
  margin: 10px 50px 10px 0px;
}

.card-title {
  text-align: center;
}

img {
  width:200px;
}

.choice_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 250px;
}

.result_container {
  margin-top: 50px;
}

.custom-control {
  display: flex;
  flex-direction: row;
  justify-content: center;
}